.ai-image-container{
    width: 95%;
    height: calc(100vh - 100px);
    background-image: url('../../assets/man-glasses-blue.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 10px;
    padding: 100px;
    border-radius: 50px;
    box-shadow: 0px 12px 35px black;
}

.hero{
    color: #fff;
    font-size: 40px;
    margin-top: 250px;
    width: fit-content;
    border-radius: 20px;
    backdrop-filter: blur(13px);
    padding: 30px;
}

.company-name{
    color: aqua;
    font-weight: 900;
}

.solutions{
    width: 90%;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
}

.solutions h2, .news-heading{
    text-align: center;
    font-size: 70px;
}

.solutions .cards-container {
    width: 90%;
    padding: 30px;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 125px; 
    justify-content: center; 
}

.solutions .cards-container .card {
    background-color: #e5e9ff;
    width: 100%; 
    height: 500px;
    border-radius: 15px;
}

.solutions .cards-container .card h3{
    padding: 30px;
    font-size: 30px;
}


.solutions .cards-container .card .image{
    height: 200px;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}


.card:nth-child(1) .image { background-image: url('../../assets/AI.svg'); }
.card:nth-child(2) .image { background-image: url('../../assets/geo.svg'); }
.card:nth-child(3) .image { background-image: url('../../assets/pos.svg'); }
.card:nth-child(4) .image { background-image: url('../../assets/SCM.svg'); }
.card:nth-child(5) .image { background-image: url('../../assets/vms.svg'); }
.card:nth-child(6) .image { background-image: url('../../assets/robotics.svg'); }


.solutions .cards-container .card button{
    width: 80%;
    height: 60px;
    margin-top: 15px;
    background-color: crimson;
    color: #fff;
    font-size: 15px;
    border: 2px solid black;
    cursor: pointer;
}


.solutions .cards-container .card button:hover{
    border: 3px solid black;
    color: #111;
}

.news {
    width: 90%;
    height: 700px;
    margin: 100px auto;
    background-color: rgb(255, 239, 245);
    padding: 50px;
    border-radius: 30px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}

.news ul {
    list-style: none;
    max-height: 600px;  
    overflow-y: auto;  
    padding-right: 10px; 
}

.news ul li{
    font-size: large;
    margin: 15px 0;
}

.news ul::-webkit-scrollbar {
    width: 8px;
}

.news ul::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.news ul::-webkit-scrollbar-track {
    background: #ddd;
}


