.navbar{
    width: 100%;
    height: 60px;
    background-color: #e7e7e7c0;
    display: flex;
    justify-content: space-between;
}

.hero-logo {
    width: 150px; /* Set width according to the logo size */
    height: 60px; /* Set height according to the logo size */
    background-image: url(../../assets/logo.png);
    background-size: contain; /* Resize the logo to fit inside the container */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    background-position: center; /* Center the logo */
}

.user-login{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-login button{
    width: 80px;
    height: 35px;
    background-color: crimson;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
}

.user-login button:hover{
    color: crimson;
    background-color: #242424;
}

.hero-logo, .user-login{
    width: 150px;
}

.nav-menu{
    width: 600px;
    height: 60px;
}

.nav-menu ul{
    display: flex;
    justify-content: space-around;
    line-height: 60px;
    list-style: none;
}

.nav-menu ul li a{
    display: block;
    text-decoration: none   ;
    color: #42a4ff;
    font-weight: 500;
    
}

.nav-menu ul li a:hover{
    color: #0454a0;
}


